/**
 * @component
 * @name Carousel
 */
/**
 * @class
 * @name .fs-carousel-element
 * @type element
 * @description Target element
 */
/**
 * @class
 * @name .fs-carousel
 * @type element
 * @description Base widget class
 */
/**
 * @class
 * @name .fs-carousel.fs-enabled
 * @type modifier
 * @description Indicates enabled state
 */
/**
 * @class
 * @name .fs-carousel.fs-rtl
 * @type modifier
 * @description Indicates right to left display
 */
/**
 * @class
 * @name .fs-carousel.fs-carousel-auto_height
 * @type modifier
 * @description Indicates auto height sizing
 */
/**
 * @class
 * @name .fs-carousel.fs-carousel-contained
 * @type modifier
 * @description Indicates overflow: hidden
 */
/**
 * @class
 * @name .fs-carousel.fs-carousel-single
 * @type modifier
 * @description Indicates single item display
 */
.fs-carousel {
  /**
   * @class
   * @name .fs-carousel-viewport
   * @type element
   * @description Carousel container
   */
  /**
   * @class
   * @name .fs-carousel-wrapper
   * @type element
   * @description Carousel container
   */
  /**
   * @class
   * @name .fs-carousel-container
   * @type element
   * @description Canister container
   */
  /**
   * @class
   * @name .fs-carousel-canister
   * @type element
   * @description Item container
   */
  /**
   * @class
   * @name .fs-carousel-canister
   * @type element
   * @description Item container
   */
  /**
   * @class
   * @name .fs-carousel-item
   * @type element
   * @description Individual item
   */
  /**
   * @class
   * @name .fs-carousel-controls
   * @type element
   * @description Controls container
   */
  /**
   * @class
   * @name .fs-carousel-controls.fs-carousel-visible
   * @type modifier
   * @description Indicates visible state
   */
  /**
   * @class
   * @name .fs-carousel-control
   * @type element
   * @description Control element
   */
  /**
   * @class
   * @name .fs-carousel-control.fs-carousel-control_previous
   * @type modifier
   * @description Indicates previous control
   */
  /**
   * @class
   * @name .fs-carousel-control.fs-carousel-control_next
   * @type modifier
   * @description Indicates next control
   */
  /**
   * @class
   * @name .fs-carousel-control.fs-carousel-control_disabled
   * @type modifier
   * @description Indicates disbaled state
   */
  /**
   * @class
   * @name .fs-carousel-pagination
   * @type element
   * @description Item element
   */
  /**
   * @class
   * @name .fs-carousel-pagination.fs-carousel-visible
   * @type modifier
   * @description Indicates visible state
   */
  /**
   * @class
   * @name .fs-carousel-page
   * @type element
   * @description Pagiantion item element
   */
  /**
   * @class
   * @name .fs-carousel-page.fs-carousel-active
   * @type modifier
   * @description Indicates active state
   */
}
.fs-carousel.fs-carousel-enabled {
  width: 100%;
  position: relative;
}
.fs-carousel.fs-carousel-enabled:after {
  clear: both;
  content: '';
  display: table;
}
.fs-carousel,
.fs-carousel:after,
.fs-carousel:before,
.fs-carousel *,
.fs-carousel *:after,
.fs-carousel *:before {
  box-sizing: border-box;
  transition: none;
  user-select: none !important;
}
.fs-carousel-enabled.fs-carousel-contained,
.fs-carousel-enabled.fs-carousel-contained .fs-carousel-viewport,
.fs-carousel-enabled.fs-carousel-contained .fs-carousel-wrapper,
.fs-carousel-enabled.fs-carousel-contained .fs-carousel-container {
  overflow: hidden;
}
.fs-carousel-enabled .fs-carousel-viewport {
  position: relative;
}
.fs-carousel-enabled .fs-carousel-viewport:after {
  clear: both;
  content: '';
  display: table;
}
.fs-carousel-enabled .fs-carousel-wrapper {
  position: relative;
}
.fs-carousel-enabled .fs-carousel-wrapper:after {
  clear: both;
  content: '';
  display: table;
}
.fs-carousel-enabled .fs-carousel-container {
  position: relative;
}
.fs-carousel-enabled .fs-carousel-canister {
  position: relative;
  backface-visibility: hidden;
  display: flex;
  margin: 0;
  overflow: hidden;
  transition: transform 0.5s ease;
  transform: translate3d(0, 0, 0);
}
.fs-carousel-enabled.fs-carousel-auto_height .fs-carousel-canister {
  align-items: flex-start;
  transition: height 0.5s ease, transform 0.5s ease;
}
.fs-carousel-enabled .fs-carousel-item {
  min-height: 1px;
  display: block;
}
.fs-carousel-enabled .fs-carousel-item img {
  -webkit-user-drag: none;
  user-select: none;
}
.fs-carousel-single .fs-carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.fs-carousel-single .fs-carousel-item.fs-carousel-visible {
  position: relative;
  z-index: 2;
}
.fs-carousel-controls {
  display: none;
}
.fs-carousel-enabled .fs-carousel-controls {
  width: 100%;
  margin: 0;
  padding: 0;
}
.fs-carousel-enabled .fs-carousel-controls.fs-carousel-visible,
.fs-carousel-controls_custom.fs-carousel-visible {
  display: block;
}
.fs-carousel-enabled .fs-carousel-control {
  border: none;
  cursor: pointer;
  padding: 0;
}
.fs-carousel-pagination {
  display: none;
}
.fs-carousel-enabled .fs-carousel-pagination {
  width: 100%;
}
.fs-carousel-enabled .fs-carousel-pagination.fs-carousel-visible {
  display: block;
}
.fs-carousel-enabled .fs-carousel-page {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
}
.fs-carousel-enabled.fs-carousel-rtl {
  direction: rtl;
}
