/**
 * @component
 * @name Checkpoint
 */
.fs-checkpoint[data-checkpoint-animation="fade-in"],
.fs-checkpoint[data-checkpoint-animation="fade-up"],
.fs-checkpoint[data-checkpoint-animation="fade-down"],
.fs-checkpoint[data-checkpoint-animation="fade-left"],
.fs-checkpoint[data-checkpoint-animation="fade-right"] {
  opacity: 0;
  transition: opacity 0.5s linear, transform 0.5s ease;
}
.fs-checkpoint[data-checkpoint-animation="fade-in"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="fade-up"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="fade-down"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="fade-left"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="fade-right"].fs-checkpoint-active {
  opacity: 1;
}
.fs-checkpoint[data-checkpoint-animation="fade-up"] {
  transform: translateY(50px);
}
.fs-checkpoint[data-checkpoint-animation="fade-down"] {
  transform: translateY(-50px);
}
.fs-checkpoint[data-checkpoint-animation="fade-up"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="fade-down"].fs-checkpoint-active {
  transform: translateY(0);
}
.fs-checkpoint[data-checkpoint-animation="fade-left"] {
  transform: translateX(-50px);
}
.fs-checkpoint[data-checkpoint-animation="fade-right"] {
  transform: translateX(50px);
}
.fs-checkpoint[data-checkpoint-animation="fade-left"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="fade-right"].fs-checkpoint-active {
  transform: translateX(0);
}
.fs-checkpoint[data-checkpoint-animation="zoom-in"],
.fs-checkpoint[data-checkpoint-animation="zoom-in-up"],
.fs-checkpoint[data-checkpoint-animation="zoom-in-down"],
.fs-checkpoint[data-checkpoint-animation="zoom-in-left"],
.fs-checkpoint[data-checkpoint-animation="zoom-in-right"] {
  opacity: 0;
  transition: opacity 0.5s linear, transform 0.5s ease;
}
.fs-checkpoint[data-checkpoint-animation="zoom-in"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-in-up"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-in-down"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-in-left"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-in-right"].fs-checkpoint-active {
  opacity: 1;
}
.fs-checkpoint[data-checkpoint-animation="zoom-in"] {
  transform: translateY(0) scale(0.5);
}
.fs-checkpoint[data-checkpoint-animation="zoom-in-up"] {
  transform: translateY(50px) scale(0.5);
}
.fs-checkpoint[data-checkpoint-animation="zoom-in-down"] {
  transform: translateY(-50px) scale(0.5);
}
.fs-checkpoint[data-checkpoint-animation="zoom-in"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-in-up"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-in-down"].fs-checkpoint-active {
  transform: translateY(0) scale(1);
}
.fs-checkpoint[data-checkpoint-animation="zoom-in-left"] {
  transform: translateX(-50px) scale(0.5);
}
.fs-checkpoint[data-checkpoint-animation="zoom-in-right"] {
  transform: translateX(50px) scale(0.5);
}
.fs-checkpoint[data-checkpoint-animation="zoom-in-left"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-in-right"].fs-checkpoint-active {
  transform: translateX(0) scale(1);
}
.fs-checkpoint[data-checkpoint-animation="zoom-out"],
.fs-checkpoint[data-checkpoint-animation="zoom-out-up"],
.fs-checkpoint[data-checkpoint-animation="zoom-out-down"],
.fs-checkpoint[data-checkpoint-animation="zoom-out-left"],
.fs-checkpoint[data-checkpoint-animation="zoom-out-right"] {
  opacity: 0;
  transition: opacity 0.5s linear, transform 0.5s ease;
}
.fs-checkpoint[data-checkpoint-animation="zoom-out"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-out-up"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-out-down"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-out-left"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-out-right"].fs-checkpoint-active {
  opacity: 1;
}
.fs-checkpoint[data-checkpoint-animation="zoom-out"] {
  transform: translateY(0) scale(1.25);
}
.fs-checkpoint[data-checkpoint-animation="zoom-out-up"] {
  transform: translateY(50px) scale(1.25);
}
.fs-checkpoint[data-checkpoint-animation="zoom-out-down"] {
  transform: translateY(-50px) scale(1.25);
}
.fs-checkpoint[data-checkpoint-animation="zoom-out"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-out-up"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-out-down"].fs-checkpoint-active {
  transform: translateY(0) scale(1);
}
.fs-checkpoint[data-checkpoint-animation="zoom-out-left"] {
  transform: translateX(-50px) scale(1.25);
}
.fs-checkpoint[data-checkpoint-animation="zoom-out-right"] {
  transform: translateX(50px) scale(1.25);
}
.fs-checkpoint[data-checkpoint-animation="zoom-out-left"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="zoom-out-right"].fs-checkpoint-active {
  transform: translateX(0) scale(1);
}
.fs-checkpoint[data-checkpoint-animation="flip-up"],
.fs-checkpoint[data-checkpoint-animation="flip-down"],
.fs-checkpoint[data-checkpoint-animation="flip-left"],
.fs-checkpoint[data-checkpoint-animation="flip-right"] {
  backface-visibility: hidden;
  transition: opacity 0.5s linear, transform 0.5s ease;
}
.fs-checkpoint[data-checkpoint-animation="flip-up"] {
  transform: perspective(3000px) rotateX(-91deg);
}
.fs-checkpoint[data-checkpoint-animation="flip-down"] {
  transform: perspective(3000px) rotateX(91deg);
}
.fs-checkpoint[data-checkpoint-animation="flip-up"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="flip-down"].fs-checkpoint-active {
  transform: perspective(3000px) rotateX(0);
}
.fs-checkpoint[data-checkpoint-animation="flip-left"] {
  transform: perspective(3000px) rotateY(91deg);
}
.fs-checkpoint[data-checkpoint-animation="flip-right"] {
  transform: perspective(3000px) rotateY(-91deg);
}
.fs-checkpoint[data-checkpoint-animation="flip-left"].fs-checkpoint-active,
.fs-checkpoint[data-checkpoint-animation="flip-right"].fs-checkpoint-active {
  transform: perspective(3000px) rotateY(0);
}
