/**
 * @component
 * @name Checkbox
 */
/**
 * @class
 * @name .fs-checkbox-element
 * @type element
 * @description Target elmement
 */
/**
 * @class
 * @name .fs-checkbox
 * @type element
 * @description Base widget class
 */
/**
 * @class
 * @name .fs-checkbox.fs-checkbox-checked
 * @type modifier
 * @description Indicates checked state
 */
/**
 * @class
 * @name .fs-checkbox.fs-checkbox-radio
 * @type modifier
 * @description Indicates radio interface
 */
/**
 * @class
 * @name .fs-checkbox.fs-checkbox-toggle
 * @type modifier
 * @description Indicates toggle interface
 */
/**
 * @class
 * @name .fs-checkbox.fs-checkbox-focus
 * @type modifier
 * @description Indicates focused state
 */
/**
 * @class
 * @name .fs-checkbox.fs-checkbox-disabled
 * @type modifier
 * @description Indicates disabled state
 */
.fs-checkbox {
  display: inline-block;
  vertical-align: middle;
  /**
   * @class
   * @name .fs-checkbox-label
   * @type element
   * @description Label element
   */
  /**
   * @class
   * @name .fs-checkbox-marker
   * @type element
   * @description Marker element
   */
  /**
   * @class
   * @name .fs-checkbox-flag
   * @type element
   * @description Flag element
   */
}
.fs-checkbox,
.fs-checkbox:after,
.fs-checkbox:before,
.fs-checkbox *,
.fs-checkbox *:after,
.fs-checkbox *:before {
  box-sizing: border-box;
  transition: none;
  user-select: none !important;
}
.fs-checkbox-element_placeholder {
  display: none;
  visibility: hidden;
}
.fs-checkbox-element {
  width: 110%;
  height: 110%;
  position: absolute;
  top: -5%;
  right: -5%;
  bottom: -5%;
  left: -5%;
  z-index: -1;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  transition: none;
  opacity: 0;
  -webkit-appearance: none;
}
.fs-checkbox-label {
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  overflow: hidden;
  user-select: none;
}
.fs-checkbox-marker {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
}
.fs-checkbox-flag {
  width: 100%;
  height: 100%;
  margin: 0;
}
.fs-checkbox-flag:before {
  width: 5px;
  height: 10px;
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  content: '';
  display: block;
  margin: 3px 0 0 6px;
  transition: transform 0.15s ease;
  transform: rotate(45deg) scale(0);
}
.fs-checkbox-checked .fs-checkbox-flag:before {
  transform: rotate(45deg) scale(1);
}
.fs-checkbox-radio .fs-checkbox-marker {
  position: relative;
  border-radius: 100%;
}
.fs-checkbox-radio .fs-checkbox-flag {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #666;
  border-radius: 100%;
  margin: auto;
  transform: scale(0);
  transition: transform 0.15s ease;
}
.fs-checkbox-radio .fs-checkbox-flag:before {
  display: none;
}
.fs-checkbox-radio.fs-checkbox-checked .fs-checkbox-flag {
  transform: scale(1);
}
.fs-checkbox-radio.fs-checkbox-checked .fs-checkbox-flag:before {
  display: none;
}
.fs-checkbox-disabled {
  cursor: default;
  opacity: 0.5;
}
.fs-checkbox-label.fs-checkbox-disabled {
  cursor: default;
}
.fs-checkbox-disabled .fs-checkbox-marker {
  cursor: default;
}
.fs-checkbox-toggle {
  position: relative;
}
.fs-checkbox-label.fs-checkbox-toggle {
  line-height: 40px;
}
.fs-checkbox-toggle .fs-checkbox-marker {
  width: 100px;
  height: 40px;
  position: relative;
}
.fs-checkbox-toggle .fs-checkbox-marker:after {
  clear: both;
  content: '';
  display: table;
}
.fs-checkbox-toggle .fs-checkbox-flag {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #666;
  display: block;
  transition: left 0.15s ease;
}
.no-touch .fs-checkbox-toggle:hover .fs-checkbox-flag:after {
  opacity: 1;
}
.fs-checkbox-toggle.fs-checkbox-checked .fs-checkbox-flag {
  left: 50%;
}
.fs-checkbox-toggle.fs-checkbox-checked .fs-checkbox-flag:before {
  display: none;
}
.fs-checkbox-toggle.fs-checkbox-disabled .fs-checkbox-flag:after {
  display: none;
}
.fs-checkbox-toggle .fs-checkbox-state {
  width: 50%;
  display: block;
  line-height: 40px;
  margin: 0;
  text-align: center;
}
.fs-checkbox-toggle .fs-checkbox-state_on {
  float: left;
}
.fs-checkbox-toggle .fs-checkbox-state_off {
  float: right;
}
