/**
 * @grid
 * @name Grid
 * @description A responsive CSS grid.
 */
.fs_grid_row,
.fs-grid .fs-row {
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 739px) {
  .fs_grid_row,
  .fs-grid .fs-row {
    width: 96%;
    width: calc(100% - 40px);
  }
}
@media screen and (min-width: 740px) {
  .fs_grid_row,
  .fs-grid .fs-row {
    width: 720px;
  }
}
@media screen and (min-width: 980px) {
  .fs_grid_row,
  .fs-grid .fs-row {
    width: 960px;
  }
}
@media screen and (min-width: 1220px) {
  .fs_grid_row,
  .fs-grid .fs-row {
    width: 1200px;
  }
}
.fs_grid_row_fluid,
.fs-grid-fluid .fs-row {
  width: 96%;
  width: calc(100% - 40px);
}
@media screen and (max-width: 499px) {
  .fs_grid_row_adaptive,
  .fs-grid-adaptive .fs-row {
    width: 300px;
  }
}
@media screen and (min-width: 500px) and (max-width: 739px) {
  .fs_grid_row_adaptive,
  .fs-grid-adaptive .fs-row {
    width: 480px;
  }
}
.fs_grid_row_reverse {
  flex-direction: row-reverse;
}
.fs_grid_row_justify_around {
  justify-content: space-around;
}
.fs_grid_row_justify_between {
  justify-content: space-between;
}
.fs_grid_row_justify_start {
  justify-content: flex-start;
}
.fs_grid_row_justify_center {
  justify-content: center;
}
.fs_grid_row_justify_end {
  justify-content: flex-end;
}
.fs_grid_row_align_start {
  align-items: flex-start;
}
.fs_grid_row_align_center {
  align-items: center;
}
.fs_grid_row_align_end {
  align-items: flex-end;
}
.fs_grid_row_row,
.fs-grid .fs-row .fs-row {
  min-width: auto;
  width: 102.08333333%;
  margin-left: -1.04166667%;
  margin-right: -1.04166667%;
}
.fs_grid_row_row_contained,
.fs-grid .fs-row [class*="fs-cell"][class*="-contained"] .fs-row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.fs_grid_row_destroy {
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
.fs_grid_cell,
.fs-grid .fs-row [class*="fs-cell"] {
  width: 97.91666667%;
  max-width: 97.91666667%;
  min-width: 0;
  flex: 0 0 97.91666667%;
  flex-basis: auto;
  margin-left: 1.04166667%;
  margin-right: 1.04166667%;
}
.fs_grid_cell_padded,
.fs-grid .fs-row [class*="fs-cell"][class*="-padded"] {
  box-sizing: content-box;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.04166667%;
  padding-right: 1.04166667%;
}
.fs_grid_cell_contained,
.fs-grid .fs-row [class*="fs-cell"][class*="-contained"] {
  width: 100%;
  flex: 0 0 100%;
  margin-left: 0;
  margin-right: 0;
}
.fs_grid_cell_justify_start {
  margin-right: auto;
}
.fs_grid_cell_justify_center,
.fs_grid_cell_centered {
  margin-right: auto;
  margin-left: auto;
}
.fs_grid_cell_justify_end,
.fs_grid_cell_right {
  margin-left: auto;
}
.fs_grid_cell_align_start {
  align-self: flex-start;
}
.fs_grid_cell_align_center {
  align-self: center;
}
.fs_grid_cell_align_end {
  align-self: flex-end;
}
.fs_grid_cell_first {
  order: -1;
}
.fs_grid_cell_last {
  order: 1;
}
.fs_grid_cell_destroy {
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
.fs-grid .fs-row.fs-all-reverse {
  flex-direction: row-reverse;
}
.fs-grid .fs-row.fs-all-justify-around {
  justify-content: space-around;
}
.fs-grid .fs-row.fs-all-justify-between {
  justify-content: space-between;
}
.fs-grid .fs-row.fs-all-justify-start {
  justify-content: flex-start;
}
.fs-grid .fs-row.fs-all-justify-center {
  justify-content: center;
}
.fs-grid .fs-row.fs-all-justify-end {
  justify-content: flex-end;
}
.fs-grid .fs-row.fs-all-align-start {
  align-items: flex-start;
}
.fs-grid .fs-row.fs-all-align-center {
  align-items: center;
}
.fs-grid .fs-row.fs-all-align-end {
  align-items: flex-end;
}
.fs-grid .fs-row .fs-cell.fs-all-first,
.fs-grid .fs-row [class*="-contained"].fs-all-first {
  order: -1;
}
.fs-grid .fs-row .fs-cell.fs-all-last,
.fs-grid .fs-row [class*="-contained"].fs-all-last {
  order: 1;
}
.fs-grid .fs-row .fs-cell.fs-all-align-start,
.fs-grid .fs-row [class*="-contained"].fs-all-align-start {
  align-self: flex-start;
}
.fs-grid .fs-row .fs-cell.fs-all-align-center,
.fs-grid .fs-row [class*="-contained"].fs-all-align-center {
  align-self: center;
}
.fs-grid .fs-row .fs-cell.fs-all-align-end,
.fs-grid .fs-row [class*="-contained"].fs-all-align-end {
  align-self: flex-end;
}
.fs-grid .fs-row .fs-cell.fs-all-justify-start,
.fs-grid .fs-row [class*="-contained"].fs-all-justify-start {
  margin-right: auto;
}
.fs-grid .fs-row .fs-cell.fs-all-justify-center,
.fs-grid .fs-row [class*="-contained"].fs-all-justify-center {
  margin-right: auto;
  margin-left: auto;
}
.fs-grid .fs-row .fs-cell.fs-all-justify-end,
.fs-grid .fs-row [class*="-contained"].fs-all-justify-end {
  margin-left: auto;
}
.fs-grid .fs-row .fs-all-fifth {
  width: 17.91666667%;
  max-width: 17.91666667%;
  min-width: 0;
  flex: 0 0 17.91666667%;
}
.fs-grid .fs-row .fs-all-fourth {
  width: 22.91666667%;
  max-width: 22.91666667%;
  min-width: 0;
  flex: 0 0 22.91666667%;
}
.fs-grid .fs-row .fs-all-third {
  width: 31.25%;
  max-width: 31.25%;
  min-width: 0;
  flex: 0 0 31.25%;
}
.fs-grid .fs-row .fs-all-half {
  width: 47.91666667%;
  max-width: 47.91666667%;
  min-width: 0;
  flex: 0 0 47.91666667%;
}
.fs-grid .fs-row .fs-all-full {
  width: 97.91666667%;
  max-width: 97.91666667%;
  min-width: 0;
  flex: 0 0 97.91666667%;
}
.fs-grid .fs-row .fs-all-push-fifth {
  margin-left: 21.04166667%;
}
.fs-grid .fs-row .fs-all-push-fourth {
  margin-left: 26.04166667%;
}
.fs-grid .fs-row .fs-all-push-third {
  margin-left: 34.375%;
}
.fs-grid .fs-row .fs-all-push-half {
  margin-left: 51.04166667%;
}
.fs-grid .fs-row [class*="-contained"].fs-all-fifth {
  width: 20%;
  max-width: 20%;
  min-width: 0;
  flex: 0 0 20%;
}
.fs-grid .fs-row [class*="-contained"].fs-all-fourth {
  width: 25%;
  max-width: 25%;
  min-width: 0;
  flex: 0 0 25%;
}
.fs-grid .fs-row [class*="-contained"].fs-all-third {
  width: 33.33333333%;
  max-width: 33.33333333%;
  min-width: 0;
  flex: 0 0 33.33333333%;
}
.fs-grid .fs-row [class*="-contained"].fs-all-half {
  width: 50%;
  max-width: 50%;
  min-width: 0;
  flex: 0 0 50%;
}
.fs-grid .fs-row [class*="-contained"].fs-all-full {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  flex: 0 0 100%;
}
.fs-grid .fs-row [class*="-contained"].fs-all-push-fifth {
  margin-left: 20%;
}
.fs-grid .fs-row [class*="-contained"].fs-all-push-fourth {
  margin-left: 25%;
}
.fs-grid .fs-row [class*="-contained"].fs-all-push-third {
  margin-left: 33.33333333%;
}
.fs-grid .fs-row [class*="-contained"].fs-all-push-half {
  margin-left: 50%;
}
.fs-grid .fs-row .fs-all-auto {
  width: auto;
  max-width: 97.91666667%;
  flex: 1;
  flex-grow: 1;
}
.fs-grid .fs-row .fs-all-hide {
  display: none;
}
.fs-grid .fs-row .fs-all-destroy {
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width:  739px) {
  .fs-grid .fs-row.fs-sm-reverse {
    flex-direction: row-reverse;
  }
  .fs-grid .fs-row.fs-sm-justify-around {
    justify-content: space-around;
  }
  .fs-grid .fs-row.fs-sm-justify-between {
    justify-content: space-between;
  }
  .fs-grid .fs-row.fs-sm-justify-start {
    justify-content: flex-start;
  }
  .fs-grid .fs-row.fs-sm-justify-center {
    justify-content: center;
  }
  .fs-grid .fs-row.fs-sm-justify-end {
    justify-content: flex-end;
  }
  .fs-grid .fs-row.fs-sm-align-start {
    align-items: flex-start;
  }
  .fs-grid .fs-row.fs-sm-align-center {
    align-items: center;
  }
  .fs-grid .fs-row.fs-sm-align-end {
    align-items: flex-end;
  }
  .fs-grid .fs-row .fs-sm-1 {
    width: 31.25%;
    max-width: 31.25%;
    min-width: 0;
    flex: 0 0 31.25%;
  }
  .fs-grid .fs-row .fs-sm-2 {
    width: 64.58333333%;
    max-width: 64.58333333%;
    min-width: 0;
    flex: 0 0 64.58333333%;
  }
  .fs-grid .fs-row .fs-sm-3 {
    width: 97.91666667%;
    max-width: 97.91666667%;
    min-width: 0;
    flex: 0 0 97.91666667%;
  }
  .fs-grid .fs-row .fs-sm-push-1 {
    margin-left: 34.375%;
  }
  .fs-grid .fs-row .fs-sm-push-2 {
    margin-left: 67.70833333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-1 {
    width: 33.33333333%;
    max-width: 33.33333333%;
    min-width: 0;
    flex: 0 0 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-2 {
    width: 66.66666667%;
    max-width: 66.66666667%;
    min-width: 0;
    flex: 0 0 66.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-3 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    flex: 0 0 100%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-push-1 {
    margin-left: 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-push-2 {
    margin-left: 66.66666667%;
  }
  .fs-grid .fs-row .fs-cell.fs-sm-first,
  .fs-grid .fs-row [class*="-contained"].fs-sm-first {
    order: -1;
  }
  .fs-grid .fs-row .fs-cell.fs-sm-last,
  .fs-grid .fs-row [class*="-contained"].fs-sm-last {
    order: 1;
  }
  .fs-grid .fs-row .fs-cell.fs-sm-align-start,
  .fs-grid .fs-row [class*="-contained"].fs-sm-align-start {
    align-self: flex-start;
  }
  .fs-grid .fs-row .fs-cell.fs-sm-align-center,
  .fs-grid .fs-row [class*="-contained"].fs-sm-align-center {
    align-self: center;
  }
  .fs-grid .fs-row .fs-cell.fs-sm-align-end,
  .fs-grid .fs-row [class*="-contained"].fs-sm-align-end {
    align-self: flex-end;
  }
  .fs-grid .fs-row .fs-cell.fs-sm-justify-start,
  .fs-grid .fs-row [class*="-contained"].fs-sm-justify-start {
    margin-right: auto;
  }
  .fs-grid .fs-row .fs-cell.fs-sm-justify-center,
  .fs-grid .fs-row [class*="-contained"].fs-sm-justify-center {
    margin-right: auto;
    margin-left: auto;
  }
  .fs-grid .fs-row .fs-cell.fs-sm-justify-end,
  .fs-grid .fs-row [class*="-contained"].fs-sm-justify-end {
    margin-left: auto;
  }
  .fs-grid .fs-row .fs-sm-fifth {
    width: 17.91666667%;
    max-width: 17.91666667%;
    min-width: 0;
    flex: 0 0 17.91666667%;
  }
  .fs-grid .fs-row .fs-sm-fourth {
    width: 22.91666667%;
    max-width: 22.91666667%;
    min-width: 0;
    flex: 0 0 22.91666667%;
  }
  .fs-grid .fs-row .fs-sm-third {
    width: 31.25%;
    max-width: 31.25%;
    min-width: 0;
    flex: 0 0 31.25%;
  }
  .fs-grid .fs-row .fs-sm-half {
    width: 47.91666667%;
    max-width: 47.91666667%;
    min-width: 0;
    flex: 0 0 47.91666667%;
  }
  .fs-grid .fs-row .fs-sm-full {
    width: 97.91666667%;
    max-width: 97.91666667%;
    min-width: 0;
    flex: 0 0 97.91666667%;
  }
  .fs-grid .fs-row .fs-sm-push-fifth {
    margin-left: 21.04166667%;
  }
  .fs-grid .fs-row .fs-sm-push-fourth {
    margin-left: 26.04166667%;
  }
  .fs-grid .fs-row .fs-sm-push-third {
    margin-left: 34.375%;
  }
  .fs-grid .fs-row .fs-sm-push-half {
    margin-left: 51.04166667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-fifth {
    width: 20%;
    max-width: 20%;
    min-width: 0;
    flex: 0 0 20%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-fourth {
    width: 25%;
    max-width: 25%;
    min-width: 0;
    flex: 0 0 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-third {
    width: 33.33333333%;
    max-width: 33.33333333%;
    min-width: 0;
    flex: 0 0 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-half {
    width: 50%;
    max-width: 50%;
    min-width: 0;
    flex: 0 0 50%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-full {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    flex: 0 0 100%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-push-fifth {
    margin-left: 20%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-push-fourth {
    margin-left: 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-push-third {
    margin-left: 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-sm-push-half {
    margin-left: 50%;
  }
  .fs-grid .fs-row .fs-sm-auto {
    width: auto;
    max-width: 97.91666667%;
    flex: 1;
    flex-grow: 1;
  }
  .fs-grid .fs-row .fs-sm-hide {
    display: none;
  }
  .fs-grid .fs-row .fs-sm-destroy {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width:  499px) {
  .fs-grid .fs-row.fs-xs-reverse {
    flex-direction: row-reverse;
  }
  .fs-grid .fs-row.fs-xs-justify-around {
    justify-content: space-around;
  }
  .fs-grid .fs-row.fs-xs-justify-between {
    justify-content: space-between;
  }
  .fs-grid .fs-row.fs-xs-justify-start {
    justify-content: flex-start;
  }
  .fs-grid .fs-row.fs-xs-justify-center {
    justify-content: center;
  }
  .fs-grid .fs-row.fs-xs-justify-end {
    justify-content: flex-end;
  }
  .fs-grid .fs-row.fs-xs-align-start {
    align-items: flex-start;
  }
  .fs-grid .fs-row.fs-xs-align-center {
    align-items: center;
  }
  .fs-grid .fs-row.fs-xs-align-end {
    align-items: flex-end;
  }
  .fs-grid .fs-row .fs-xs-1 {
    width: 31.25%;
    max-width: 31.25%;
    min-width: 0;
    flex: 0 0 31.25%;
  }
  .fs-grid .fs-row .fs-xs-2 {
    width: 64.58333333%;
    max-width: 64.58333333%;
    min-width: 0;
    flex: 0 0 64.58333333%;
  }
  .fs-grid .fs-row .fs-xs-3 {
    width: 97.91666667%;
    max-width: 97.91666667%;
    min-width: 0;
    flex: 0 0 97.91666667%;
  }
  .fs-grid .fs-row .fs-xs-push-1 {
    margin-left: 34.375%;
  }
  .fs-grid .fs-row .fs-xs-push-2 {
    margin-left: 67.70833333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-1 {
    width: 33.33333333%;
    max-width: 33.33333333%;
    min-width: 0;
    flex: 0 0 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-2 {
    width: 66.66666667%;
    max-width: 66.66666667%;
    min-width: 0;
    flex: 0 0 66.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-3 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    flex: 0 0 100%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-push-1 {
    margin-left: 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-push-2 {
    margin-left: 66.66666667%;
  }
  .fs-grid .fs-row .fs-cell.fs-xs-first,
  .fs-grid .fs-row [class*="-contained"].fs-xs-first {
    order: -1;
  }
  .fs-grid .fs-row .fs-cell.fs-xs-last,
  .fs-grid .fs-row [class*="-contained"].fs-xs-last {
    order: 1;
  }
  .fs-grid .fs-row .fs-cell.fs-xs-align-start,
  .fs-grid .fs-row [class*="-contained"].fs-xs-align-start {
    align-self: flex-start;
  }
  .fs-grid .fs-row .fs-cell.fs-xs-align-center,
  .fs-grid .fs-row [class*="-contained"].fs-xs-align-center {
    align-self: center;
  }
  .fs-grid .fs-row .fs-cell.fs-xs-align-end,
  .fs-grid .fs-row [class*="-contained"].fs-xs-align-end {
    align-self: flex-end;
  }
  .fs-grid .fs-row .fs-cell.fs-xs-justify-start,
  .fs-grid .fs-row [class*="-contained"].fs-xs-justify-start {
    margin-right: auto;
  }
  .fs-grid .fs-row .fs-cell.fs-xs-justify-center,
  .fs-grid .fs-row [class*="-contained"].fs-xs-justify-center {
    margin-right: auto;
    margin-left: auto;
  }
  .fs-grid .fs-row .fs-cell.fs-xs-justify-end,
  .fs-grid .fs-row [class*="-contained"].fs-xs-justify-end {
    margin-left: auto;
  }
  .fs-grid .fs-row .fs-xs-fifth {
    width: 17.91666667%;
    max-width: 17.91666667%;
    min-width: 0;
    flex: 0 0 17.91666667%;
  }
  .fs-grid .fs-row .fs-xs-fourth {
    width: 22.91666667%;
    max-width: 22.91666667%;
    min-width: 0;
    flex: 0 0 22.91666667%;
  }
  .fs-grid .fs-row .fs-xs-third {
    width: 31.25%;
    max-width: 31.25%;
    min-width: 0;
    flex: 0 0 31.25%;
  }
  .fs-grid .fs-row .fs-xs-half {
    width: 47.91666667%;
    max-width: 47.91666667%;
    min-width: 0;
    flex: 0 0 47.91666667%;
  }
  .fs-grid .fs-row .fs-xs-full {
    width: 97.91666667%;
    max-width: 97.91666667%;
    min-width: 0;
    flex: 0 0 97.91666667%;
  }
  .fs-grid .fs-row .fs-xs-push-fifth {
    margin-left: 21.04166667%;
  }
  .fs-grid .fs-row .fs-xs-push-fourth {
    margin-left: 26.04166667%;
  }
  .fs-grid .fs-row .fs-xs-push-third {
    margin-left: 34.375%;
  }
  .fs-grid .fs-row .fs-xs-push-half {
    margin-left: 51.04166667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-fifth {
    width: 20%;
    max-width: 20%;
    min-width: 0;
    flex: 0 0 20%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-fourth {
    width: 25%;
    max-width: 25%;
    min-width: 0;
    flex: 0 0 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-third {
    width: 33.33333333%;
    max-width: 33.33333333%;
    min-width: 0;
    flex: 0 0 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-half {
    width: 50%;
    max-width: 50%;
    min-width: 0;
    flex: 0 0 50%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-full {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    flex: 0 0 100%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-push-fifth {
    margin-left: 20%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-push-fourth {
    margin-left: 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-push-third {
    margin-left: 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xs-push-half {
    margin-left: 50%;
  }
  .fs-grid .fs-row .fs-xs-auto {
    width: auto;
    max-width: 97.91666667%;
    flex: 1;
    flex-grow: 1;
  }
  .fs-grid .fs-row .fs-xs-hide {
    display: none;
  }
  .fs-grid .fs-row .fs-xs-destroy {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width:  740px) and (max-width:  979px) {
  .fs-grid .fs-row.fs-md-reverse {
    flex-direction: row-reverse;
  }
  .fs-grid .fs-row.fs-md-justify-around {
    justify-content: space-around;
  }
  .fs-grid .fs-row.fs-md-justify-between {
    justify-content: space-between;
  }
  .fs-grid .fs-row.fs-md-justify-start {
    justify-content: flex-start;
  }
  .fs-grid .fs-row.fs-md-justify-center {
    justify-content: center;
  }
  .fs-grid .fs-row.fs-md-justify-end {
    justify-content: flex-end;
  }
  .fs-grid .fs-row.fs-md-align-start {
    align-items: flex-start;
  }
  .fs-grid .fs-row.fs-md-align-center {
    align-items: center;
  }
  .fs-grid .fs-row.fs-md-align-end {
    align-items: flex-end;
  }
  .fs-grid .fs-row .fs-md-1 {
    width: 14.58333333%;
    max-width: 14.58333333%;
    min-width: 0;
    flex: 0 0 14.58333333%;
  }
  .fs-grid .fs-row .fs-md-2 {
    width: 31.25%;
    max-width: 31.25%;
    min-width: 0;
    flex: 0 0 31.25%;
  }
  .fs-grid .fs-row .fs-md-3 {
    width: 47.91666667%;
    max-width: 47.91666667%;
    min-width: 0;
    flex: 0 0 47.91666667%;
  }
  .fs-grid .fs-row .fs-md-4 {
    width: 64.58333333%;
    max-width: 64.58333333%;
    min-width: 0;
    flex: 0 0 64.58333333%;
  }
  .fs-grid .fs-row .fs-md-5 {
    width: 81.25%;
    max-width: 81.25%;
    min-width: 0;
    flex: 0 0 81.25%;
  }
  .fs-grid .fs-row .fs-md-6 {
    width: 97.91666667%;
    max-width: 97.91666667%;
    min-width: 0;
    flex: 0 0 97.91666667%;
  }
  .fs-grid .fs-row .fs-md-push-1 {
    margin-left: 17.70833333%;
  }
  .fs-grid .fs-row .fs-md-push-2 {
    margin-left: 34.375%;
  }
  .fs-grid .fs-row .fs-md-push-3 {
    margin-left: 51.04166667%;
  }
  .fs-grid .fs-row .fs-md-push-4 {
    margin-left: 67.70833333%;
  }
  .fs-grid .fs-row .fs-md-push-5 {
    margin-left: 84.375%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-1 {
    width: 16.66666667%;
    max-width: 16.66666667%;
    min-width: 0;
    flex: 0 0 16.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-2 {
    width: 33.33333333%;
    max-width: 33.33333333%;
    min-width: 0;
    flex: 0 0 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-3 {
    width: 50%;
    max-width: 50%;
    min-width: 0;
    flex: 0 0 50%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-4 {
    width: 66.66666667%;
    max-width: 66.66666667%;
    min-width: 0;
    flex: 0 0 66.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-5 {
    width: 83.33333333%;
    max-width: 83.33333333%;
    min-width: 0;
    flex: 0 0 83.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-6 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    flex: 0 0 100%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-push-1 {
    margin-left: 16.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-push-2 {
    margin-left: 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-push-3 {
    margin-left: 50%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-push-4 {
    margin-left: 66.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-push-5 {
    margin-left: 83.33333333%;
  }
  .fs-grid .fs-row .fs-cell.fs-md-first,
  .fs-grid .fs-row [class*="-contained"].fs-md-first {
    order: -1;
  }
  .fs-grid .fs-row .fs-cell.fs-md-last,
  .fs-grid .fs-row [class*="-contained"].fs-md-last {
    order: 1;
  }
  .fs-grid .fs-row .fs-cell.fs-md-align-start,
  .fs-grid .fs-row [class*="-contained"].fs-md-align-start {
    align-self: flex-start;
  }
  .fs-grid .fs-row .fs-cell.fs-md-align-center,
  .fs-grid .fs-row [class*="-contained"].fs-md-align-center {
    align-self: center;
  }
  .fs-grid .fs-row .fs-cell.fs-md-align-end,
  .fs-grid .fs-row [class*="-contained"].fs-md-align-end {
    align-self: flex-end;
  }
  .fs-grid .fs-row .fs-cell.fs-md-justify-start,
  .fs-grid .fs-row [class*="-contained"].fs-md-justify-start {
    margin-right: auto;
  }
  .fs-grid .fs-row .fs-cell.fs-md-justify-center,
  .fs-grid .fs-row [class*="-contained"].fs-md-justify-center {
    margin-right: auto;
    margin-left: auto;
  }
  .fs-grid .fs-row .fs-cell.fs-md-justify-end,
  .fs-grid .fs-row [class*="-contained"].fs-md-justify-end {
    margin-left: auto;
  }
  .fs-grid .fs-row .fs-md-fifth {
    width: 17.91666667%;
    max-width: 17.91666667%;
    min-width: 0;
    flex: 0 0 17.91666667%;
  }
  .fs-grid .fs-row .fs-md-fourth {
    width: 22.91666667%;
    max-width: 22.91666667%;
    min-width: 0;
    flex: 0 0 22.91666667%;
  }
  .fs-grid .fs-row .fs-md-third {
    width: 31.25%;
    max-width: 31.25%;
    min-width: 0;
    flex: 0 0 31.25%;
  }
  .fs-grid .fs-row .fs-md-half {
    width: 47.91666667%;
    max-width: 47.91666667%;
    min-width: 0;
    flex: 0 0 47.91666667%;
  }
  .fs-grid .fs-row .fs-md-full {
    width: 97.91666667%;
    max-width: 97.91666667%;
    min-width: 0;
    flex: 0 0 97.91666667%;
  }
  .fs-grid .fs-row .fs-md-push-fifth {
    margin-left: 21.04166667%;
  }
  .fs-grid .fs-row .fs-md-push-fourth {
    margin-left: 26.04166667%;
  }
  .fs-grid .fs-row .fs-md-push-third {
    margin-left: 34.375%;
  }
  .fs-grid .fs-row .fs-md-push-half {
    margin-left: 51.04166667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-fifth {
    width: 20%;
    max-width: 20%;
    min-width: 0;
    flex: 0 0 20%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-fourth {
    width: 25%;
    max-width: 25%;
    min-width: 0;
    flex: 0 0 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-third {
    width: 33.33333333%;
    max-width: 33.33333333%;
    min-width: 0;
    flex: 0 0 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-half {
    width: 50%;
    max-width: 50%;
    min-width: 0;
    flex: 0 0 50%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-full {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    flex: 0 0 100%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-push-fifth {
    margin-left: 20%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-push-fourth {
    margin-left: 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-push-third {
    margin-left: 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-md-push-half {
    margin-left: 50%;
  }
  .fs-grid .fs-row .fs-md-auto {
    width: auto;
    max-width: 97.91666667%;
    flex: 1;
    flex-grow: 1;
  }
  .fs-grid .fs-row .fs-md-hide {
    display: none;
  }
  .fs-grid .fs-row .fs-md-destroy {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width:  980px) {
  .fs-grid .fs-row.fs-lg-reverse {
    flex-direction: row-reverse;
  }
  .fs-grid .fs-row.fs-lg-justify-around {
    justify-content: space-around;
  }
  .fs-grid .fs-row.fs-lg-justify-between {
    justify-content: space-between;
  }
  .fs-grid .fs-row.fs-lg-justify-start {
    justify-content: flex-start;
  }
  .fs-grid .fs-row.fs-lg-justify-center {
    justify-content: center;
  }
  .fs-grid .fs-row.fs-lg-justify-end {
    justify-content: flex-end;
  }
  .fs-grid .fs-row.fs-lg-align-start {
    align-items: flex-start;
  }
  .fs-grid .fs-row.fs-lg-align-center {
    align-items: center;
  }
  .fs-grid .fs-row.fs-lg-align-end {
    align-items: flex-end;
  }
  .fs-grid .fs-row .fs-lg-1 {
    width: 6.25%;
    max-width: 6.25%;
    min-width: 0;
    flex: 0 0 6.25%;
  }
  .fs-grid .fs-row .fs-lg-2 {
    width: 14.58333333%;
    max-width: 14.58333333%;
    min-width: 0;
    flex: 0 0 14.58333333%;
  }
  .fs-grid .fs-row .fs-lg-3 {
    width: 22.91666667%;
    max-width: 22.91666667%;
    min-width: 0;
    flex: 0 0 22.91666667%;
  }
  .fs-grid .fs-row .fs-lg-4 {
    width: 31.25%;
    max-width: 31.25%;
    min-width: 0;
    flex: 0 0 31.25%;
  }
  .fs-grid .fs-row .fs-lg-5 {
    width: 39.58333333%;
    max-width: 39.58333333%;
    min-width: 0;
    flex: 0 0 39.58333333%;
  }
  .fs-grid .fs-row .fs-lg-6 {
    width: 47.91666667%;
    max-width: 47.91666667%;
    min-width: 0;
    flex: 0 0 47.91666667%;
  }
  .fs-grid .fs-row .fs-lg-7 {
    width: 56.25%;
    max-width: 56.25%;
    min-width: 0;
    flex: 0 0 56.25%;
  }
  .fs-grid .fs-row .fs-lg-8 {
    width: 64.58333333%;
    max-width: 64.58333333%;
    min-width: 0;
    flex: 0 0 64.58333333%;
  }
  .fs-grid .fs-row .fs-lg-9 {
    width: 72.91666667%;
    max-width: 72.91666667%;
    min-width: 0;
    flex: 0 0 72.91666667%;
  }
  .fs-grid .fs-row .fs-lg-10 {
    width: 81.25%;
    max-width: 81.25%;
    min-width: 0;
    flex: 0 0 81.25%;
  }
  .fs-grid .fs-row .fs-lg-11 {
    width: 89.58333333%;
    max-width: 89.58333333%;
    min-width: 0;
    flex: 0 0 89.58333333%;
  }
  .fs-grid .fs-row .fs-lg-12 {
    width: 97.91666667%;
    max-width: 97.91666667%;
    min-width: 0;
    flex: 0 0 97.91666667%;
  }
  .fs-grid .fs-row .fs-lg-push-1 {
    margin-left: 9.375%;
  }
  .fs-grid .fs-row .fs-lg-push-2 {
    margin-left: 17.70833333%;
  }
  .fs-grid .fs-row .fs-lg-push-3 {
    margin-left: 26.04166667%;
  }
  .fs-grid .fs-row .fs-lg-push-4 {
    margin-left: 34.375%;
  }
  .fs-grid .fs-row .fs-lg-push-5 {
    margin-left: 42.70833333%;
  }
  .fs-grid .fs-row .fs-lg-push-6 {
    margin-left: 51.04166667%;
  }
  .fs-grid .fs-row .fs-lg-push-7 {
    margin-left: 59.375%;
  }
  .fs-grid .fs-row .fs-lg-push-8 {
    margin-left: 67.70833333%;
  }
  .fs-grid .fs-row .fs-lg-push-9 {
    margin-left: 76.04166667%;
  }
  .fs-grid .fs-row .fs-lg-push-10 {
    margin-left: 84.375%;
  }
  .fs-grid .fs-row .fs-lg-push-11 {
    margin-left: 92.70833333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-1 {
    width: 8.33333333%;
    max-width: 8.33333333%;
    min-width: 0;
    flex: 0 0 8.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-2 {
    width: 16.66666667%;
    max-width: 16.66666667%;
    min-width: 0;
    flex: 0 0 16.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-3 {
    width: 25%;
    max-width: 25%;
    min-width: 0;
    flex: 0 0 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-4 {
    width: 33.33333333%;
    max-width: 33.33333333%;
    min-width: 0;
    flex: 0 0 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-5 {
    width: 41.66666667%;
    max-width: 41.66666667%;
    min-width: 0;
    flex: 0 0 41.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-6 {
    width: 50%;
    max-width: 50%;
    min-width: 0;
    flex: 0 0 50%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-7 {
    width: 58.33333333%;
    max-width: 58.33333333%;
    min-width: 0;
    flex: 0 0 58.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-8 {
    width: 66.66666667%;
    max-width: 66.66666667%;
    min-width: 0;
    flex: 0 0 66.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-9 {
    width: 75%;
    max-width: 75%;
    min-width: 0;
    flex: 0 0 75%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-10 {
    width: 83.33333333%;
    max-width: 83.33333333%;
    min-width: 0;
    flex: 0 0 83.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-11 {
    width: 91.66666667%;
    max-width: 91.66666667%;
    min-width: 0;
    flex: 0 0 91.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-12 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    flex: 0 0 100%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-1 {
    margin-left: 8.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-2 {
    margin-left: 16.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-3 {
    margin-left: 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-4 {
    margin-left: 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-5 {
    margin-left: 41.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-6 {
    margin-left: 50%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-7 {
    margin-left: 58.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-8 {
    margin-left: 66.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-9 {
    margin-left: 75%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-10 {
    margin-left: 83.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-11 {
    margin-left: 91.66666667%;
  }
  .fs-grid .fs-row .fs-cell.fs-lg-first,
  .fs-grid .fs-row [class*="-contained"].fs-lg-first {
    order: -1;
  }
  .fs-grid .fs-row .fs-cell.fs-lg-last,
  .fs-grid .fs-row [class*="-contained"].fs-lg-last {
    order: 1;
  }
  .fs-grid .fs-row .fs-cell.fs-lg-align-start,
  .fs-grid .fs-row [class*="-contained"].fs-lg-align-start {
    align-self: flex-start;
  }
  .fs-grid .fs-row .fs-cell.fs-lg-align-center,
  .fs-grid .fs-row [class*="-contained"].fs-lg-align-center {
    align-self: center;
  }
  .fs-grid .fs-row .fs-cell.fs-lg-align-end,
  .fs-grid .fs-row [class*="-contained"].fs-lg-align-end {
    align-self: flex-end;
  }
  .fs-grid .fs-row .fs-cell.fs-lg-justify-start,
  .fs-grid .fs-row [class*="-contained"].fs-lg-justify-start {
    margin-right: auto;
  }
  .fs-grid .fs-row .fs-cell.fs-lg-justify-center,
  .fs-grid .fs-row [class*="-contained"].fs-lg-justify-center {
    margin-right: auto;
    margin-left: auto;
  }
  .fs-grid .fs-row .fs-cell.fs-lg-justify-end,
  .fs-grid .fs-row [class*="-contained"].fs-lg-justify-end {
    margin-left: auto;
  }
  .fs-grid .fs-row .fs-lg-fifth {
    width: 17.91666667%;
    max-width: 17.91666667%;
    min-width: 0;
    flex: 0 0 17.91666667%;
  }
  .fs-grid .fs-row .fs-lg-fourth {
    width: 22.91666667%;
    max-width: 22.91666667%;
    min-width: 0;
    flex: 0 0 22.91666667%;
  }
  .fs-grid .fs-row .fs-lg-third {
    width: 31.25%;
    max-width: 31.25%;
    min-width: 0;
    flex: 0 0 31.25%;
  }
  .fs-grid .fs-row .fs-lg-half {
    width: 47.91666667%;
    max-width: 47.91666667%;
    min-width: 0;
    flex: 0 0 47.91666667%;
  }
  .fs-grid .fs-row .fs-lg-full {
    width: 97.91666667%;
    max-width: 97.91666667%;
    min-width: 0;
    flex: 0 0 97.91666667%;
  }
  .fs-grid .fs-row .fs-lg-push-fifth {
    margin-left: 21.04166667%;
  }
  .fs-grid .fs-row .fs-lg-push-fourth {
    margin-left: 26.04166667%;
  }
  .fs-grid .fs-row .fs-lg-push-third {
    margin-left: 34.375%;
  }
  .fs-grid .fs-row .fs-lg-push-half {
    margin-left: 51.04166667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-fifth {
    width: 20%;
    max-width: 20%;
    min-width: 0;
    flex: 0 0 20%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-fourth {
    width: 25%;
    max-width: 25%;
    min-width: 0;
    flex: 0 0 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-third {
    width: 33.33333333%;
    max-width: 33.33333333%;
    min-width: 0;
    flex: 0 0 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-half {
    width: 50%;
    max-width: 50%;
    min-width: 0;
    flex: 0 0 50%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-full {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    flex: 0 0 100%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-fifth {
    margin-left: 20%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-fourth {
    margin-left: 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-third {
    margin-left: 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-lg-push-half {
    margin-left: 50%;
  }
  .fs-grid .fs-row .fs-lg-auto {
    width: auto;
    max-width: 97.91666667%;
    flex: 1;
    flex-grow: 1;
  }
  .fs-grid .fs-row .fs-lg-hide {
    display: none;
  }
  .fs-grid .fs-row .fs-lg-destroy {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width:  1220px) {
  .fs-grid .fs-row.fs-xl-reverse {
    flex-direction: row-reverse;
  }
  .fs-grid .fs-row.fs-xl-justify-around {
    justify-content: space-around;
  }
  .fs-grid .fs-row.fs-xl-justify-between {
    justify-content: space-between;
  }
  .fs-grid .fs-row.fs-xl-justify-start {
    justify-content: flex-start;
  }
  .fs-grid .fs-row.fs-xl-justify-center {
    justify-content: center;
  }
  .fs-grid .fs-row.fs-xl-justify-end {
    justify-content: flex-end;
  }
  .fs-grid .fs-row.fs-xl-align-start {
    align-items: flex-start;
  }
  .fs-grid .fs-row.fs-xl-align-center {
    align-items: center;
  }
  .fs-grid .fs-row.fs-xl-align-end {
    align-items: flex-end;
  }
  .fs-grid .fs-row .fs-xl-1 {
    width: 6.25%;
    max-width: 6.25%;
    min-width: 0;
    flex: 0 0 6.25%;
  }
  .fs-grid .fs-row .fs-xl-2 {
    width: 14.58333333%;
    max-width: 14.58333333%;
    min-width: 0;
    flex: 0 0 14.58333333%;
  }
  .fs-grid .fs-row .fs-xl-3 {
    width: 22.91666667%;
    max-width: 22.91666667%;
    min-width: 0;
    flex: 0 0 22.91666667%;
  }
  .fs-grid .fs-row .fs-xl-4 {
    width: 31.25%;
    max-width: 31.25%;
    min-width: 0;
    flex: 0 0 31.25%;
  }
  .fs-grid .fs-row .fs-xl-5 {
    width: 39.58333333%;
    max-width: 39.58333333%;
    min-width: 0;
    flex: 0 0 39.58333333%;
  }
  .fs-grid .fs-row .fs-xl-6 {
    width: 47.91666667%;
    max-width: 47.91666667%;
    min-width: 0;
    flex: 0 0 47.91666667%;
  }
  .fs-grid .fs-row .fs-xl-7 {
    width: 56.25%;
    max-width: 56.25%;
    min-width: 0;
    flex: 0 0 56.25%;
  }
  .fs-grid .fs-row .fs-xl-8 {
    width: 64.58333333%;
    max-width: 64.58333333%;
    min-width: 0;
    flex: 0 0 64.58333333%;
  }
  .fs-grid .fs-row .fs-xl-9 {
    width: 72.91666667%;
    max-width: 72.91666667%;
    min-width: 0;
    flex: 0 0 72.91666667%;
  }
  .fs-grid .fs-row .fs-xl-10 {
    width: 81.25%;
    max-width: 81.25%;
    min-width: 0;
    flex: 0 0 81.25%;
  }
  .fs-grid .fs-row .fs-xl-11 {
    width: 89.58333333%;
    max-width: 89.58333333%;
    min-width: 0;
    flex: 0 0 89.58333333%;
  }
  .fs-grid .fs-row .fs-xl-12 {
    width: 97.91666667%;
    max-width: 97.91666667%;
    min-width: 0;
    flex: 0 0 97.91666667%;
  }
  .fs-grid .fs-row .fs-xl-push-1 {
    margin-left: 9.375%;
  }
  .fs-grid .fs-row .fs-xl-push-2 {
    margin-left: 17.70833333%;
  }
  .fs-grid .fs-row .fs-xl-push-3 {
    margin-left: 26.04166667%;
  }
  .fs-grid .fs-row .fs-xl-push-4 {
    margin-left: 34.375%;
  }
  .fs-grid .fs-row .fs-xl-push-5 {
    margin-left: 42.70833333%;
  }
  .fs-grid .fs-row .fs-xl-push-6 {
    margin-left: 51.04166667%;
  }
  .fs-grid .fs-row .fs-xl-push-7 {
    margin-left: 59.375%;
  }
  .fs-grid .fs-row .fs-xl-push-8 {
    margin-left: 67.70833333%;
  }
  .fs-grid .fs-row .fs-xl-push-9 {
    margin-left: 76.04166667%;
  }
  .fs-grid .fs-row .fs-xl-push-10 {
    margin-left: 84.375%;
  }
  .fs-grid .fs-row .fs-xl-push-11 {
    margin-left: 92.70833333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-1 {
    width: 8.33333333%;
    max-width: 8.33333333%;
    min-width: 0;
    flex: 0 0 8.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-2 {
    width: 16.66666667%;
    max-width: 16.66666667%;
    min-width: 0;
    flex: 0 0 16.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-3 {
    width: 25%;
    max-width: 25%;
    min-width: 0;
    flex: 0 0 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-4 {
    width: 33.33333333%;
    max-width: 33.33333333%;
    min-width: 0;
    flex: 0 0 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-5 {
    width: 41.66666667%;
    max-width: 41.66666667%;
    min-width: 0;
    flex: 0 0 41.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-6 {
    width: 50%;
    max-width: 50%;
    min-width: 0;
    flex: 0 0 50%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-7 {
    width: 58.33333333%;
    max-width: 58.33333333%;
    min-width: 0;
    flex: 0 0 58.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-8 {
    width: 66.66666667%;
    max-width: 66.66666667%;
    min-width: 0;
    flex: 0 0 66.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-9 {
    width: 75%;
    max-width: 75%;
    min-width: 0;
    flex: 0 0 75%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-10 {
    width: 83.33333333%;
    max-width: 83.33333333%;
    min-width: 0;
    flex: 0 0 83.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-11 {
    width: 91.66666667%;
    max-width: 91.66666667%;
    min-width: 0;
    flex: 0 0 91.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-12 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    flex: 0 0 100%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-1 {
    margin-left: 8.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-2 {
    margin-left: 16.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-3 {
    margin-left: 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-4 {
    margin-left: 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-5 {
    margin-left: 41.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-6 {
    margin-left: 50%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-7 {
    margin-left: 58.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-8 {
    margin-left: 66.66666667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-9 {
    margin-left: 75%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-10 {
    margin-left: 83.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-11 {
    margin-left: 91.66666667%;
  }
  .fs-grid .fs-row .fs-cell.fs-xl-first,
  .fs-grid .fs-row [class*="-contained"].fs-xl-first {
    order: -1;
  }
  .fs-grid .fs-row .fs-cell.fs-xl-last,
  .fs-grid .fs-row [class*="-contained"].fs-xl-last {
    order: 1;
  }
  .fs-grid .fs-row .fs-cell.fs-xl-align-start,
  .fs-grid .fs-row [class*="-contained"].fs-xl-align-start {
    align-self: flex-start;
  }
  .fs-grid .fs-row .fs-cell.fs-xl-align-center,
  .fs-grid .fs-row [class*="-contained"].fs-xl-align-center {
    align-self: center;
  }
  .fs-grid .fs-row .fs-cell.fs-xl-align-end,
  .fs-grid .fs-row [class*="-contained"].fs-xl-align-end {
    align-self: flex-end;
  }
  .fs-grid .fs-row .fs-cell.fs-xl-justify-start,
  .fs-grid .fs-row [class*="-contained"].fs-xl-justify-start {
    margin-right: auto;
  }
  .fs-grid .fs-row .fs-cell.fs-xl-justify-center,
  .fs-grid .fs-row [class*="-contained"].fs-xl-justify-center {
    margin-right: auto;
    margin-left: auto;
  }
  .fs-grid .fs-row .fs-cell.fs-xl-justify-end,
  .fs-grid .fs-row [class*="-contained"].fs-xl-justify-end {
    margin-left: auto;
  }
  .fs-grid .fs-row .fs-xl-fifth {
    width: 17.91666667%;
    max-width: 17.91666667%;
    min-width: 0;
    flex: 0 0 17.91666667%;
  }
  .fs-grid .fs-row .fs-xl-fourth {
    width: 22.91666667%;
    max-width: 22.91666667%;
    min-width: 0;
    flex: 0 0 22.91666667%;
  }
  .fs-grid .fs-row .fs-xl-third {
    width: 31.25%;
    max-width: 31.25%;
    min-width: 0;
    flex: 0 0 31.25%;
  }
  .fs-grid .fs-row .fs-xl-half {
    width: 47.91666667%;
    max-width: 47.91666667%;
    min-width: 0;
    flex: 0 0 47.91666667%;
  }
  .fs-grid .fs-row .fs-xl-full {
    width: 97.91666667%;
    max-width: 97.91666667%;
    min-width: 0;
    flex: 0 0 97.91666667%;
  }
  .fs-grid .fs-row .fs-xl-push-fifth {
    margin-left: 21.04166667%;
  }
  .fs-grid .fs-row .fs-xl-push-fourth {
    margin-left: 26.04166667%;
  }
  .fs-grid .fs-row .fs-xl-push-third {
    margin-left: 34.375%;
  }
  .fs-grid .fs-row .fs-xl-push-half {
    margin-left: 51.04166667%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-fifth {
    width: 20%;
    max-width: 20%;
    min-width: 0;
    flex: 0 0 20%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-fourth {
    width: 25%;
    max-width: 25%;
    min-width: 0;
    flex: 0 0 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-third {
    width: 33.33333333%;
    max-width: 33.33333333%;
    min-width: 0;
    flex: 0 0 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-half {
    width: 50%;
    max-width: 50%;
    min-width: 0;
    flex: 0 0 50%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-full {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    flex: 0 0 100%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-fifth {
    margin-left: 20%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-fourth {
    margin-left: 25%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-third {
    margin-left: 33.33333333%;
  }
  .fs-grid .fs-row [class*="-contained"].fs-xl-push-half {
    margin-left: 50%;
  }
  .fs-grid .fs-row .fs-xl-auto {
    width: auto;
    max-width: 97.91666667%;
    flex: 1;
    flex-grow: 1;
  }
  .fs-grid .fs-row .fs-xl-hide {
    display: none;
  }
  .fs-grid .fs-row .fs-xl-destroy {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
