/**
 * @component
 * @name Number
 */
/**
 * @class
 * @name .fs-lightbox-element
 * @type element
 * @description Target elmement
 */
/**
 * @class
 * @name .fs-lightbox
 * @type element
 * @description Base widget class
 */
/**
 * @class
 * @name .fs-lightbox.fs-lightbox-open
 * @type modifier
 * @description Indicates open state
 */
/**
 * @class
 * @name .fs-lightbox.fs-lightbox-loading
 * @type modifier
 * @description Indicates loading state
 */
/**
 * @class
 * @name .fs-lightbox.fs-lightbox-animating
 * @type modifier
 * @description Indicates animating state
 */
/**
 * @class
 * @name .fs-lightbox.fs-lightbox-mobile
 * @type modifier
 * @description Indicates mobile display
 */
/**
 * @class
 * @name .fs-lightbox.fs-lightbox-fixed
 * @type modifier
 * @description Indicates fixed positioning
 */
/**
 * @class
 * @name .fs-lightbox.fs-lightbox-inline
 * @type modifier
 * @description Indicates inline content
 */
/**
 * @class
 * @name .fs-lightbox.fs-lightbox-iframed
 * @type modifier
 * @description Indicates iFrame content
 */
/**
 * @class
 * @name .fs-lightbox.fs-lightbox-has_caption
 * @type modifier
 * @description Indicates caption is present
 */
/**
 * @class
 * @name .fs-lightbox.fs-lightbox-has_controls
 * @type modifier
 * @description Indicates controls are present
 */
.fs-lightbox {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 101;
  background: #fff;
  opacity: 0;
  margin: 0 auto;
  transform: translateZ(0);
  /**
   * @class
   * @name .fs-lightbox-overlay
   * @type element
   * @description Overlay element
   */
  /**
   * @class
   * @name .fs-lightbox-close
   * @type element
   * @description Close element
   */
  /**
   * @class
   * @name .fs-lightbox-loading_icon
   * @type element
   * @description Loading icon element
   */
  /**
   * @class
   * @name .fs-lightbox-container
   * @type element
   * @description Container element
   */
  /**
   * @class
   * @name .fs-lightbox-content
   * @type element
   * @description Content element
   */
  /**
   * @class
   * @name .fs-lightbox-image
   * @type element
   * @description Image element
   */
  /**
   * @class
   * @name .fs-lightbox-video
   * @type element
   * @description Video element
   */
  /**
   * @class
   * @name .fs-lightbox-iframe
   * @type element
   * @description iFrame element
   */
  /**
   * @class
   * @name .fs-lightbox-tools
   * @type element
   * @description Tools element
   */
  /**
   * @class
   * @name .fs-lightbox-meta
   * @type element
   * @description Meta info element
   */
  /**
   * @class
   * @name .fs-lightbox-controls
   * @type element
   * @description Controls container element
   */
  /**
   * @class
   * @name .fs-lightbox-control
   * @type element
   * @description Control element
   */
  /**
   * @class
   * @name .fs-lightbox-control.fs-lightbox-control_previous
   * @type modifier
   * @description Indicates previous control
   */
  /**
   * @class
   * @name .fs-lightbox-control.fs-lightbox-control_next
   * @type modifier
   * @description Indicates next control
   */
  /**
   * @class
   * @name .fs-lightbox-control.fs-lightbox-control_disabled
   * @type modifier
   * @description Indicates disbaled state
   */
  /**
   * @class
   * @name .fs-lightbox-position
   * @type element
   * @description Position element
   */
  /**
   * @class
   * @name .fs-lightbox-position_current
   * @type element
   * @description Current position element
   */
  /**
   * @class
   * @name .fs-lightbox-position_total
   * @type element
   * @description Total position element
   */
  /**
   * @class
   * @name .fs-lightbox-caption
   * @type element
   * @description Caption element
   */
  /**
   * @class
   * @name .fs-lightbox-error
   * @type element
   * @description Error message element
   */
  /**
   * @class
   * @name .fs-lightbox-thumbnails
   * @type element
   * @description
   */
  /**
   * @class
   * @name .fs-lightbox-thumbnail_container
   * @type element
   * @description
   */
  /**
   * @class
   * @name .fs-lightbox-thumbnail_item
   * @type element
   * @description
   */
  /**
   * @class
   * @name .fs-lightbox-lock
   * @type modifier
   * @description Indicates locked state; Applied to body element
   */
}
.fs-lightbox,
.fs-lightbox *:not(input):not(textarea) {
  box-sizing: border-box;
  user-select: none !important;
}
.fs-lightbox-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}
.fs-lightbox-animating {
  transition: height 0.25s ease, width 0.25s ease, opacity 0.25s linear, top 0.25s ease;
}
.fs-lightbox-animating .fs-lightbox-content,
.fs-lightbox-animating .fs-lightbox-thumbnails,
.fs-lightbox-animating .fs-lightbox-tools,
.fs-lightbox-animating .fs-lightbox-meta,
.fs-lightbox-animating .fs-lightbox-control {
  transition: opacity 0.25s linear 0.25s, visibility 0.25s linear 0.25s;
}
.fs-lightbox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #000;
  opacity: 0;
  transition: opacity 0.25s linear;
}
.fs-lightbox-open {
  opacity: 1;
}
.fs-lightbox-overlay.fs-lightbox-open {
  opacity: 0.75;
}
.fs-lightbox-close {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 105;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 0;
}
.fs-lightbox-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 103;
  background: #fff;
  overflow: hidden;
}
.fs-lightbox-container:after {
  clear: both;
  content: '';
  display: table;
}
.fs-lightbox-content {
  width: 100%;
  background: #fff;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  visibility: visible;
}
.fs-lightbox-content:after {
  clear: both;
  content: '';
  display: table;
}
.fs-lightbox-inline .fs-lightbox-content {
  width: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.fs-lightbox-iframed .fs-lightbox-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.fs-lightbox-mobile .fs-lightbox-image_container {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: 0;
  transform: translate3D(0, 0, 0);
}
.fs-lightbox-image {
  display: block;
}
.fs-lightbox-mobile .fs-lightbox-image {
  position: relative;
}
.fs-lightbox-video {
  width: 100%;
  height: 100%;
}
.fs-lightbox-iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: auto;
}
.fs-lightbox-meta {
  opacity: 1;
  clear: both;
  visibility: visible;
}
.fs-lightbox-control {
  border: none;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 105;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
  visibility: visible;
  white-space: nowrap;
}
.fs-lightbox-control_previous {
  left: 0;
}
.fs-lightbox-control_next {
  right: 0;
}
.fs-lightbox-control_disabled {
  opacity: 0;
  visibility: hidden;
}
.no-touchevents .fs-lightbox .fs-lightbox-control_disabled,
.no-touchevents .fs-lightbox:hover .fs-lightbox-control_disabled {
  opacity: 0;
  visibility: hidden;
}
.fs-lightbox-caption:after {
  clear: both;
  content: '';
  display: table;
}
.fs-lightbox-toggle {
  border: none;
  padding: 0;
  display: none;
}
.fs-lightbox-thumbnails {
  height: 60px;
  clear: both;
  overflow: hidden;
  padding: 0;
}
.fs-lightbox-thumbnail_container {
  height: 80px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 30px;
  text-align: center;
  white-space: nowrap;
}
.fs-lightbox-thumbnail_item {
  width: 50px;
  height: 50px;
  position: relative;
  background: none;
  border: none;
  display: inline-block;
  margin: 0 10px 0 0;
  opacity: 0.25;
  overflow: hidden;
  padding: 0;
  transition: opacity 0.25s linear;
}
.fs-lightbox-thumbnail_item:last-child {
  margin: 0;
}
.fs-lightbox-thumbnail_item img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  display: block;
  transform: translateY(-50%);
}
.fs-lightbox-thumbnail_item.fs-lightbox-active,
.no-touchevents .fs-lightbox-thumbnail_item:hover {
  opacity: 1;
}
.fs-lightbox-loading .fs-lightbox-content,
.fs-lightbox-loading .fs-lightbox-thumbnails,
.fs-lightbox-loading .fs-lightbox-tools,
.fs-lightbox-loading .fs-lightbox-meta,
.fs-lightbox-loading .fs-lightbox-control {
  opacity: 0;
  transition: opacity 0.25s linear, visibility 0.25s linear;
  visibility: hidden;
}
.fs-lightbox-loading .fs-lightbox-loading_icon,
.fs-lightbox-ready.fs-lightbox-loading .fs-lightbox-thumbnails,
.fs-lightbox-ready.fs-lightbox-loading .fs-lightbox-tools {
  opacity: 1;
  visibility: visible;
}
.fs-lightbox-mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #111;
  border-radius: 0;
}
.fs-lightbox-mobile .fs-lightbox-container {
  position: static;
  background: #111;
}
.fs-lightbox-mobile .fs-lightbox-content {
  height: 100%;
  background-color: #111;
}
.fs-lightbox-mobile .fs-lightbox-tools {
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
}
.fs-lightbox-mobile .fs-lightbox-controls {
  text-align: center;
}
.fs-lightbox-mobile .fs-lightbox-control {
  opacity: 1;
  visibility: visible;
}
.no-touchevents .fs-lightbox-mobile .fs-lightbox-control,
.no-touchevents .fs-lightbox-mobile:hover .fs-lightbox-control {
  visibility: visible;
}
.fs-lightbox-mobile .fs-lightbox-control_disabled,
.no-touchevents .fs-lightbox-mobile .fs-lightbox-control_disabled,
.no-touchevents .fs-lightbox-mobile:hover .fs-lightbox-control_disabled {
  cursor: default !important;
  opacity: 0;
  visibility: hidden;
}
.fs-lightbox-mobile .fs-lightbox-position {
  color: #999;
}
.fs-lightbox-mobile .fs-lightbox-caption p {
  color: #eee;
}
.fs-lightbox-mobile .fs-lightbox-image {
  transform: translate(0, 0);
}
.fs-lightbox-mobile.fs-lightbox-inline .fs-lightbox-content,
.fs-lightbox-mobile.fs-lightbox-iframe .fs-lightbox-content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.fs-lightbox-mobile.fs-lightbox-touch .fs-lightbox-tools {
  width: auto;
  position: static;
  background: transparent;
}
.fs-lightbox-mobile.fs-lightbox-touch .fs-lightbox-controls {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 105;
  background-color: #111;
}
.fs-lightbox-mobile.fs-lightbox-touch .fs-lightbox-toggle {
  display: inline-block;
  margin: 0 5px;
}
.fs-lightbox-mobile.fs-lightbox-touch .fs-lightbox-meta {
  width: 100%;
  height: 80%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 104;
  background: #222;
  transform: translate(0, 100%);
  transition: transform 0.25s ease, opacity 0.25s linear 0.25s, visibility 0.25s linear 0.25s;
}
.fs-lightbox-touch.fs-lightbox-caption_open .fs-lightbox-meta {
  transform: translate(0, 0);
}
.fs-lightbox-mobile.fs-lightbox-touch .fs-lightbox-thumbnails {
  width: 100%;
  height: 70px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 104;
  background: #111;
  transform: translate(0, 100%);
  transition: transform 0.25s ease, opacity 0.25s linear 0.25s, visibility 0.25s linear 0.25s;
}
.fs-lightbox-mobile.fs-lightbox-touch .fs-lightbox-thumbnail_container {
  height: 100px;
}
.fs-lightbox-touch.fs-lightbox-thumbnails_open .fs-lightbox-thumbnails {
  transform: translate(0, 0);
}
.fs-lightbox-lock {
  overflow: hidden !important;
}
.fs-lightbox-mobile.fs-lightbox-touch .fs-lightbox-container,
.fs-lightbox-mobile.fs-lightbox-touch .fs-lightbox-content {
  overflow: visible;
}
.fs-lightbox-mobile.fs-lightbox-touch .fs-lightbox-content {
  position: relative;
}
.fs-lightbox .fs-viewer {
  top: 0;
  bottom: 0;
}
.fs-lightbox .fs-viewer,
.fs-lightbox .fs-viewer .fs-viewer-wrapper {
  height: auto;
  width: auto;
  position: absolute;
  right: 0;
  left: 0;
  background: #111;
}
.fs-lightbox .fs-viewer .fs-viewer-wrapper {
  top: 0;
  bottom: 0;
}
.fs-lightbox .fs-viewer .fs-viewer-loading_icon {
  display: none !important;
}
.fs-lightbox .fs-viewer .fs-viewer-viewport {
  top: 5px;
  right: 15px;
  bottom: 15px;
  left: 15px;
}
.fs-lightbox .fs-viewer .fs-viewer-controls {
  position: absolute;
  bottom: 10px;
}
