/**
 * @component
 * @name Number
 */
/**
 * @class
 * @name .fs-number-element
 * @type element
 * @description Target elmement
 */
/**
 * @class
 * @name .fs-number
 * @type element
 * @description Base widget class
 */
/**
 * @class
 * @name .fs-number.fs-number-disabled
 * @type modifier
 * @description Indicates disabled state
 */
.fs-number {
  position: relative;
  overflow: hidden;
  /**
   * @class
   * @name .fs-number-arrow
   * @type element
   * @description Arrow elmement
   */
  /**
   * @class
   * @name .fs-number-arrow:after
   * @type element
   * @description Arrow icon
   */
  /**
   * @class
   * @name .fs-number-arrow.fs-number-up
   * @type modifier
   * @description Indicates up state
   */
  /**
   * @class
   * @name .fs-number-arrow.fs-number-down
   * @type modifier
   * @description Indicates up state
   */
}
.fs-number,
.fs-number:after,
.fs-number:before,
.fs-number *,
.fs-number *:after,
.fs-number *:before {
  box-sizing: border-box;
  transition: none;
}
.fs-number-element {
  width: 100%;
  overflow: hidden;
  -moz-appearance: textfield;
}
.fs-number-element::-webkit-inner-spin-button,
.fs-number-element::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.fs-number-element::-ms-clear {
  display: none;
}
.fs-number-arrow {
  border: none;
  padding: 0;
}
.fs-number-disabled .fs-number-arrow {
  cursor: default;
}
