/**
 * @component
 * @name Range
 */
/**
 * @class
 * @name .fs-range-element
 * @type element
 * @description Target elmement
 */
/**
 * @class
 * @name .fs-range
 * @type element
 * @description Base widget class
 */
/**
 * @class
 * @name .fs-range.fs-range-focus
 * @type modifier
 * @description Indicates focused state
 */
/**
 * @class
 * @name .fs-range.fs-range-disabled
 * @type modifier
 * @description Indicates disabled state
 */
/**
 * @class
 * @name .fs-range.fs-range-labels
 * @type modifier
 * @description Indicates label display
 */
/**
 * @class
 * @name .fs-range.fs-range-vertical
 * @type modifier
 * @description Indicates vertical display
 */
.fs-range {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  /**
   * @class
   * @name .fs-range-track
   * @type element
   * @description Track elmement
   */
  /**
   * @class
   * @name .fs-range-fill
   * @type element
   * @description Fill elmement
   */
  /**
   * @class
   * @name .fs-range-handle
   * @type element
   * @description Handle elmement
   */
  /**
   * @class
   * @name .fs-range-marker
   * @type element
   * @description Marker elmement
   */
  /**
   * @class
   * @name .fs-range-label
   * @type element
   * @description Label elmement
   */
  /**
   * @class
   * @name .fs-range-label_min
   * @type element
   * @description Minimum label elmement
   */
  /**
   * @class
   * @name .fs-range-label_max
   * @type element
   * @description Maximum label elmement
   */
}
.fs-range,
.fs-range:after,
.fs-range:before,
.fs-range *,
.fs-range *:after,
.fs-range *:before {
  box-sizing: border-box;
  transition: none;
  user-select: none !important;
}
.fs-range-element {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}
.fs-range-track {
  width: 100%;
  height: 10px;
  position: relative;
  background: #ddd;
  flex-grow: 1;
  margin: 10px 0;
}
.fs-range-fill {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #aaa;
}
.fs-range-handle {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: block;
  overflow: visible;
}
.fs-range-marker {
  width: 20px;
  height: 20px;
  background: #666;
  cursor: pointer;
  display: block;
  margin: -5px 0 0 -10px;
}
.fs-range-labels .fs-range-track {
  width: 80%;
}
.fs-range-label {
  width: 8%;
  display: block;
  line-height: 30px;
}
.fs-range-label_min {
  margin: 0 2% 0 0;
  text-align: right;
}
.fs-range-label_max {
  margin: 0 0 0 2%;
  text-align: left;
}
.fs-range-vertical {
  width: 40px;
  height: 300px;
  flex-direction: column;
}
.fs-range-vertical .fs-range-track {
  width: 10px;
  height: 75%;
  margin: 0 auto;
}
.fs-range-vertical .fs-range-fill {
  width: 100%;
  height: 1px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
.fs-range-vertical .fs-range-handle {
  width: 100%;
  height: 1px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
.fs-range-vertical .fs-range-marker {
  margin: -10px 0 0 -5px;
}
.fs-range-vertical .fs-range-label {
  height: 10%;
  width: 100%;
  line-height: 30px;
  margin: 0;
  text-align: center;
}
.fs-range-vertical .fs-range-label_min {
  padding: 0;
}
.fs-range-vertical .fs-range-label_max {
  padding: 0;
}
.fs-range-disabled {
  cursor: default;
  opacity: 0.5;
}
.fs-range-disabled .fs-range-marker {
  cursor: default;
}
