/**
 * @component
 * @name Sticky
 */
/**
 * @class
 * @name .fs-sticky-element
 * @type element
 * @description Target elmement
 */
/**
 * @class
 * @name .fs-sticky-clone
 * @type element
 * @description Cloned elemtn
 */
/**
 * @class
 * @name .fs-sticky.fs-sticky-stuck
 * @type modifier
 * @description Indicates stuck state
 */
/**
  * @class
  * @name .fs-sticky-clone.fs-sticky-stuck
  * @type modifier
  * @description Indicates stuck state
  */
.fs-sticky-element {
  will-change: scroll-position;
}
.fs-sticky-element.fs-sticky-stuck {
  position: fixed;
}
.fs-sticky-element.fs-sticky-passed {
  position: absolute;
}
.fs-sticky-clone {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.fs-sticky-clone.fs-sticky-stuck {
  display: block;
}
.fs-sticky-container {
  position: relative;
}
