/**
 * @component
 * @name Tooltip
 */
/**
 * @class
 * @name .fs-tooltip-element
 * @type element
 * @description Target elmement
 */
/**
 * @class
 * @name .fs-tooltip
 * @type element
 * @description Base widget class
 */
/**
 * @class
 * @name .fs-tooltip.fs-tooltip-visible
 * @type modifier
 * @description Inidcates visible state
 */
/**
 * @class
 * @name .fs-tooltip.fs-tooltip-right
 * @type modifier
 * @description Inidcates right side display
 */
/**
 * @class
 * @name .fs-tooltip.fs-tooltip-left
 * @type modifier
 * @description Inidcates left side display
 */
/**
 * @class
 * @name .fs-tooltip.fs-tooltip-top
 * @type modifier
 * @description Inidcates top display
 */
/**
 * @class
 * @name .fs-tooltip.fs-tooltip-bottom
 * @type modifier
 * @description Inidcates bottom display
 */
.fs-tooltip {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -999px;
  left: -999px;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s linear;
  /**
   * @class
   * @name .fs-tooltip-content
   * @type element
   * @description Tooltip content wrapper
   */
  /**
   * @class
   * @name .fs-tooltip-caret
   * @type element
   * @description Tooltip caret
   */
}
.fs-tooltip,
.fs-tooltip:after,
.fs-tooltip:before,
.fs-tooltip *,
.fs-tooltip *:after,
.fs-tooltip *:before {
  box-sizing: border-box;
  transition: none;
  user-select: none !important;
}
.fs-tooltip-visible {
  opacity: 1;
}
.fs-tooltip-content {
  display: block;
  float: left;
  position: relative;
  white-space: nowrap;
}
.fs-tooltip-caret {
  display: none;
}
