/**
 * @component
 * @name Upload
 */
/**
 * @class
 * @name .fs-upload-element
 * @type element
 * @description Target elmement
 */
/**
 * @class
 * @name .fs-upload
 * @type element
 * @description Base widget class
 */
/**
 * @class
 * @name .fs-upload.fs-upload-dropping
 * @type modifier
 * @description Indicates dropping state
 */
/**
 * @class
 * @name .fs-upload.fs-upload-disabled
 * @type modifier
 * @description Indicates disabled state
 */
.fs-upload {
  position: relative;
  overflow: hidden;
  /**
   * @class
   * @name .fs-upload-input
   * @type element
   * @description Masked Input
   */
  /**
   * @class
   * @name .fs-upload-target
   * @type element
   * @description Drop target
   */
}
.fs-upload,
.fs-upload:after,
.fs-upload:before,
.fs-upload *,
.fs-upload *:after,
.fs-upload *:before {
  box-sizing: border-box;
  transition: none;
  user-select: none !important;
}
.fs-upload-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1px;
  opacity: 0;
  pointer-events: none;
}
.fs-upload-target {
  cursor: pointer;
}
.fs-upload-disabled .fs-upload-target,
.no-touch .fs-upload-disabled:hover .fs-upload-target {
  cursor: default;
  cursor: not-allowed;
}
