/**
 * @component
 * @name Viewer
 */
/**
 * @class
 * @name .fs-viewer-element
 * @type element
 * @description Target elmement
 */
/**
 * @class
 * @name .fs-viewer
 * @type element
 * @description Base widget class
 */
.fs-viewer {
  /**
   * @class
   * @name .fs-viewer-source
   * @type element
   * @description Source image element
   */
  /**
   * @class
   * @name .fs-viewer-wrapper
   * @type element
   * @description Viewer wrapper
   */
  /**
   * @class
   * @name .fs-viewer-viewport
   * @type element
   * @description Viewer viewport
   */
  /**
   * @class
   * @name .fs-viewer-container
   * @type element
   * @description Image container
   */
  /**
   * @class
   * @name .fs-viewer-image
   * @type element
   * @description Image element
   */
  /**
   * @class
   * @name .fs-viewer-controls
   * @type element
   * @description Controls container
   */
  /**
   * @class
   * @name .fs-viewer-control
   * @type element
   * @description Control element
   */
  /**
   * @class
   * @name .fs-viewer-control_previous
   * @type element
   * @description Previous control
   */
  /**
   * @class
   * @name .fs-viewer-control_next
   * @type element
   * @description Next control
   */
  /**
   * @class
   * @name .fs-viewer-control_zoom_in
   * @type element
   * @description Zoom in control
   */
  /**
   * @class
   * @name .fs-viewer-control_zoom_out
   * @type element
   * @description Zoom out control
   */
}
.fs-viewer-source {
  display: none !important;
}
.fs-viewer-wrapper {
  position: relative;
  background: #fff;
  overflow: hidden;
  transition: none;
  height: 300px;
}
.fs-viewer-viewport {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
}
.fs-viewer-container {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: 0;
  opacity: 1;
  transform: translate3D(0, 0, 0);
  transition: opacity 0.25s ease;
}
.fs-viewer-loading .fs-viewer-container {
  opacity: 0;
}
.fs-viewer-image {
  position: absolute;
}
.fs-viewer-scaling .fs-viewer-container {
  transition: none !important;
}
.fs-viewer-scaling .fs-viewer-image {
  transition: none !important;
}
.fs-viewer-controls {
  background: #eee;
  margin: 0 auto;
}
.fs-viewer-control {
  border: none;
  padding: 0;
}
.fs-viewer-control_previous,
.fs-viewer-control_next {
  display: none;
}
.fs-viewer-gallery .fs-viewer-control_previous,
.fs-viewer-gallery .fs-viewer-control_next {
  display: inline;
}
